<!DOCTYPE html>
<html lang="{{ craft.app.language }}" class="h-full bg-gray-200">

<head>
    <base href="{{ siteUrl }}">
    <meta charset="{{ craft.app.charset }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Inertia</title>
    <link href="/assets/inertia/css/app.css" rel="stylesheet">
</head>

<body>
<div id="app" data-page="{{ page|json_encode }}"></div>

<script src="/assets/inertia/js/app.js"></script>
</body>
</html>

