<?php

namespace config;

class Env extends \modules\main\Env
{
    // This file is a replacement for the usual .env mechanism, avoiding some issues with thread safety on Windows10/Apache/mod_php
    // Like .env, it must not be committed to git.

    // replace getenv('VAR') with Env::VAR

    // The variable in CP_VARIABLES can be used like environment variables in the Control Panel
    // e.g. $SMTP_HOST


    // Constants
    const ENVIRONMENT = 'dev';

    const APP_ID = 'Craft_Starter';

    // https://randomkeygen.com/
    const SECURITY_KEY = 'aRandomSecurityKeyAsLongAsYouLike';

    // Database settings
    const DB_DRIVER = 'mysql';
    const DB_SERVER = 'localhost';
    const DB_PORT = '3306';
    const DB_DATABASE = '';
    const DB_SCHEMA = ''; // Postgres only
    const DB_TABLEPREFIX = '';

    //Database credentials
    const DB_USER = 'root';
    const DB_PASSWORD = '';

    // Defaults for creating new tables
    const DB_CHARSET = 'utf8';
    const DB_COLLATION = 'utf8_unicode_ci';

    // http://localhost:8080 can be used for embeded server: php craft serve
    const BASE_URL = '';

    // These variables are available in the Control Panel as environment variables
    const CP_VARIABLES = [
        'SYSTEM_NAME' => 'Starter',
        'SYSTEM_TIMEZONE' => 'Europe/Berlin',

        'EMAIL_ADDRESS' => 'support@starter.local',
        'EMAIL_SENDER' => 'Support Team',

        'SMTP_HOST' => '',
        'SMTP_PASSWORD' => '',
        'SMTP_PORT' => '2525',
        'SMTP_USER' => '',

        'GOOGLE_API_KEY' => ''
    ];

}
